.content {
    margin: 0 auto;
    padding: 0 80px;
    padding-top: 10px;
    margin-bottom: 20px;
    line-height: 1.6em;
}

a{
    cursor: pointer;
}

.toggable{
    display: none;
}

.lesser-padding-content {
    padding: 0 20px !important;
}

.header {
     margin: 0;
     margin-bottom: 50px;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0 0;
     padding-bottom: 25px;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3.5em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
        font-size: 2em;
    }


.white-container{
    background-color: white;
    border-radius: 10px;
}

/* "search link" on nav bar */
.navbar-collapse>a, .navbar-collapse>a:hover, .navbar-collapse>a:focus{
    text-decoration: none;
}

.navbar-collapse>.row{
    margin: 0;
    border-top: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
    padding: 10px 0;
    display:block;
    color: #fff;
}

.navbar-collapse>.row>div{
    padding: 0;
}



.navbar-collapse>.row>div>i{
    float:right;
}

.navbar-collapse>#toggle-search{
    cursor: pointer;
}

/* ////////////////////////// */

::-webkit-input-placeholder {
    color: #eee;
    text-transform: underline;
}

/* search bars on content area*/
.input-group{
    width: 100%;
}

.input-group>div{
    margin: 5px;
}


#content-search{
    padding-top: 10px;
    position: relative;
    z-index: 999;
    margin-bottom: 50px;
}

#content-search>#search .form-group .form-control, #content-search>#search .form-group .btn, .form-components-rd{
    background: #eee;
    padding:10px;
     border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border:0 none;
    width: 100%;    
    margin: 10px;
}

#content-search>#search .form-group .btn{
    background: transparent;
}

.flaticon-loupe:before, .flaticon-message:before, .flaticon-trash:before,
.flaticon-paint-brush:before{
    margin:0;
}

#search-bar ~ div{
    background: #000;
    width: 70%;
}

.bordered-dark{
    border: 1px solid #e7e7e7 !important;
}


.erase-margin{
    margin: 0;
}

.auto-width{
    width: auto;
}


.submit-btn, .reserve-inline{
    background-color: #00CC45;
    transition: 0.6s;
}

.submit-btn:hover, .submit-btn:focus, .reserve-inline:hover, .reserve-inline:focus{
    background-color: #009D35;
}


#overlay-screen{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}


.content div:not(.header), .content div:not(.content-search){
    /* should i add padding or naah? */
}

.rm-information > span, .rm-information > a, .rm-information > div{
    display: block;

}

.rm-gen-details{
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.rm-results .rm-gen-details:nth-of-type(even){
    background-color: #f2f2f2;
}

.rm-results .rm-acc-details:nth-of-type(even){
    background-color: #f2f2f2;
}


.location-status .row{
    margin-bottom: 10px;
}



.reserved-status, .borrowed-status, .available-status{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.available-status{
    color: #00cc45;   
}

.reserved-status{
    color: #ff7070;
}

.borrowed-status{
    color: #6c61f1;
}

.disabled{
    transition: 0 !important;
    background-color: #b7b7b7;
}

.disabled:hover{
    background-color: #b7b7b7 !important;
}

.pop-up{
    position: fixed;
    z-index: 9999;
    display: block;
    background-color: white;
    padding: 20px;
    border-radius: 3px;

    right: 0;
    left: 40%;
    max-width: 500px;
}


.rm-results, .content .rm-gen-details, .rm-reviews{
    border-radius: 5px;
    border: 1px solid #004216;
    border-top: 6px solid #004216;
    margin-left: -1px;
    margin: 0 90px;
}

.rm-reviews{
    margin: 0 !important
}

.content .rm-gen-details{
    border: 0;
}

.rm-results b#results-found, .rm-reviews b#results-found{
    display: block;
    background-color: #004216;
    color: white;
    border: 1px solid #004216;
    padding: 5px;
    padding-left: 20px;
}


.rm-information a.title{
    text-decoration: underline;
}


.availability-date{
    font-weight: bold;
}

.rm-reviews div{
    margin: 20px; 
    padding-bottom: 10px;
}

.log-item{
    display: inline-block;
    width: 24.1%;
    margin: 3px;
    padding: 15px;
}

.register-form-group{
    margin-right: 300px;
}

.register-input-disabled[disabled]{
    background: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
}


.override-btn{
    background-color: #ff9036;
    transition: 0.5s;

}

.override-btn:hover{
    background-color: #CB958E;
    color: #fff;
}

.override-btn, .delete-btn{
    font-size: 10px;
    color: #fff;


}

.delete-btn{
    background-color: #ff6161;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
}

.delete-btn:hover{
    color: #fff;
    background-color: #c73131;
}

#edit-rm-btn{
    position: absolute;
    right: 0;   
    z-index: 999999;
}