.navbar{
	background-color: #004216 !important;
	background-image: none !important;
	color: white !important;
	padding: 15px;
	overflow-x: hidden;
	z-index: 3;
}

.navbar-default{
	border:0;
}

.navbar-nav{
	margin: 0 !important;
}

.navbar-collapse{
	padding: 0;
}

a.navbar-brand{
	margin: 10px 0;
	display: block;
	width: 100%;
	background-image: url("../img/logoicon.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.navbar-collapse{
	border: none !important;
}

.nav>li>a:hover, 
.nav>li>a:focus, 
.nav>li.active>a, 
.nav>.dropdown .dropdown-menu>li>a:hover, 
.nav>.dropdown .dropdown-menu>li>a:focus,
.nav>.dropdown .dropdown-menu>li.active>a,
.navbar-default .navbar-nav>.open>a{
	color: #fff !important;
	background-color: transparent !important;

}

.nav>li>a, .nav>.dropdown .dropdown-menu>li>a{
	color: #c2c2c2 !important;
	border: 0 !important;
	padding: 15px 0 !important;
	transition: color 0.6s;
	border: 0 !important;
}
.re-navbar-link, .re-navbar-link:hover{
	color: white;
	cursor: pointer;
	text-decoration: none;
	text-transform: none;
}


a.dropdown-toggle{
	padding: 15px 0 0 0 !important;
}

.divider{
	border-bottom: 1px solid #e7e7e7 !important;
}

.divider-dark{
	border-bottom: 1px solid #eee;
}

.self-menu{
	display: block;
	position: absolute;
	bottom: 0;
	margin-top: 10px;
	padding: 15px 0;
	width: 100%;
	padding-bottom: 30px;

}



a.self-menu, a:hover.self-menu{
	text-decoration: none !important;
	color: #fff;
}

.navbar-collapse ul.self a{
	color: #fff !important;
}

.flaticon-user-2:before{
    margin: 0 !important;
    margin-right: 10px !important;
}

body {
    font-family: 'Varela Round', sans-serif;
    /*background-color: #fbfbfb;*/
    /*background-image: linear-gradient(rgb(82, 77, 70), rgb(8, 7, 7) 85%);
    */
}

/* in content navbar */
.content .nav>li>a, .content .nav>.dropdown .content .dropdown-menu>li>a{
	color: #000 !important;
	padding: 15px 0 !important;
	transition: color 0.6s;
	border: 0 !important;
}

.content .nav>li:not(.active)>a:hover, .content .nav>li:not(.active)>a:focus{
	color: #000 !important;
	background-color: #ddd !important;
} 		


.content .nav>li.active:>a:hover{
	color: #000 !important;
	background-color: transparent !important;
}

.content .nav>li:not(.active){
	border: 0 !important;
    border-bottom: 1px solid #ddd !important;

}

.content .nav>li.active{
	border: 1px solid #ddd !important;
    border-bottom: 0 !important;
    border-radius: 5px 5px 0 0;
}

.content .visibility-warn{
	background: #004216;
    opacity: .3;
    color: #fff;
    padding: 7px;
    border-radius: 2px;
    margin-bottom: 10px;
}